// Calendar
.more-calendar-block {
  background-color: $yellow;
  padding-bottom: 3em;
  margin-top: -5em;
  .btn-primary {
    color: $white;
    background-color: $dark-red;
    border-color: $dark-red;
  }
  .table-bordered td {
    border: 1px solid $yellow;
  }
  .fc-day-grid {
    background-color: $red;
    color: $white;
  }
  #full-calendar {
    h2 {
      text-transform: uppercase;
      font-family: "Franchise Bold", "Roboto", sans-serif;
      line-height: 1em;
      font-size: 3em;
    }
    th {
      background-color: $green;
      padding-top: 2px;
      text-transform: uppercase;
      font-family: "Lubalin Graph Demi", "Roboto", sans-serif;
      letter-spacing: 0.8px;
    }
    .alert-info {
      background-color: transparent;
      color: $white;
    }
    .fc-event {
      background-color: $white;
      border: 1px solid $white;
      color: $black;
    }
  }

  #event-window {
    .card {
      border-radius: 0;
      border: 0;
    }
    .card-header {
      background-color: $green;
      padding: 5px 8px;
      border-radius: 0;
      text-transform: uppercase;
      font-family: "LubalinGraphStd-Bold", "Roboto", sans-serif;
      letter-spacing: 0.8px;
    }
    .card-body {
      background-color: $red;
      color: $white;
      .card-title {
        text-transform: uppercase;
        font-family: "Lubalin Graph Demi", "Roboto", sans-serif;
        letter-spacing: 0.8px;
      }
    }
  }
  .close {
    font-size: 3em;
    position: absolute;
    right: 15px;
    top: -1.2em;
  }
}
.calender-wrapper {
  max-width: 1413px;
  margin: 0 auto;
  .calender {
    .slick-slide {
      margin: 0 1px;
    }
    .grid {
      width: 290px;
      display: inline-block;
      vertical-align: top;
      border: 0px solid $green;
      transition: all 0.6s ease;
      background-color: $red;
      .grid-time {
        width: 100%;
        .header {
          background-color: $green;
          font-size: 1.2em;
        }
        .date,
        .day {
          color: $black;
          width: 50%;
          text-align: left;
          float: left;
          padding: 5px 8px;
          transition: all 0.4s ease;
        }
        .date {
          text-align: right;
        }
        .entry {
          padding: 15px 5px;
          display: table;
          height: 430px;
          width: 100%;
          .cell {
            color: $white;
            display: table-cell;
            vertical-align: middle;
          }
          .time {
            color: $white;
            width: 100%;
            margin: 0 auto;
            font-family: "Franchise Bold", "Roboto", sans-serif;
            .btn {
              font-size: 1.2em;
            }
          }
        }
      }
      &.closed {
        background-color: $dark-red !important;
        border: 0 solid $dark-red;
      }
    }
  }
}
#full-calendar {
  .fc-event,
  .fc-event-dot {
    border-radius: 0;
    padding: 2px 4px;
  }
  .fc-event {
    cursor: pointer;
  }
}
