// Footer
footer {
  font-size: 0.9em;
  color: $white;
  background-color: $dark-red;
  a {
    color: $offwhite;
    &:hover {
      color: $white;
    }
  }
  .wrapper {
    @media (max-width: $mobile) {
      text-align: center;
    }
    .navbar-brand {
      display: block !important;
      max-width: 140px;
      margin: auto;
    }
  }
  .footer-widget {
    .widgettitle {
      margin-top: 10px;
      font-size: 1.3em;
      text-transform: uppercase;
    }
    .ajax-loader {
      display: none !important;
    }
    div.wpcf7-mail-sent-ok {
      margin: 2em 0 1em;
      border: 2px solid $dark-green;
      background-color: $green;
    }
    div.wpcf7-validation-errors,
    div.wpcf7-acceptance-missing {
      margin: 2em 0 1em;
      border: 1px solid $yellow;
      background-color: $black;
    }
    .input-group-text {
      background-color: $black;
      border: 1px solid $black;
      height: 35.59px;
      .fa.fa-envelope {
        color: $white;
      }
    }
  }
  .social_icons {
    display: inline-block;
    margin: 0 4px;
    a {
      display: block;
      padding: 0 4px;
      font-size: 2em;
    }
  }
  .menu {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  .legal {
    background-color: $black;
    font-size: 0.9em;
  }
}
