// Food
#food-drink {
  #events-block {
    background-color: $black;
    .event {
      padding: 0;
      .event-header {
        float: left;
        width: 60%;
        @media (max-width: $mobile) {
          float: none;
          width: 100%;
        }
        .top,
        .bottom {
          min-height: 110px;
          background-color: $dark-red;
          padding: 2em 1em;
          color: $yellow;
        }
        .top {
          color: $white;
          background-color: $green;
        }
      }
      .event-image {
        float: left;
        height: 100%;
        width: 40%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
  #banner-block {
    background-color: $green;
    .content-block {
      padding: 0 3em;
    }
    .banner-image {
      padding: 0;
    }
  }
  #menu-block {
    background-color: $yellow;
  }
}
