// Footer
footer {
  background-color: #e7e7e7;
  .navbar-brand {
    display: block !important;
    margin: auto;
    text-align: center;
    max-width: 80px;
    padding-top: 25px;
  }
  #menu-footer {
    margin: 10px auto 2rem;
    text-align: center;
    li {
      display: inline-block;
      color: $theme-color-text;
      font-size: 0.8rem;
      margin: 0 0.5rem;
    }
  }
  .legal {
    font-size: 0.8em;
    padding-bottom: 15px;
  }
}
