// Footer
footer {
  font-size: 0.9em;
  color: $white;
  background-color: $red;
  a {
    color: $offwhite;
    &:hover {
      color: $white;
    }
  }
  .wrapper {
    @media (max-width: $break-mobile) {
      text-align: center;
    }
    .navbar-brand {
      display: block !important;
      max-width: 140px;
      margin: auto;
    }
  }
  .footer-widget {
    .widgettitle {
      margin-top: 10px;
      font-size: 1.3em;
      text-transform: uppercase;
    }
  }
  .social_icons {
    display: inline-block;
    margin: 0 4px;
    a {
      display: block;
      padding: 0 4px;
      font-size: 2em;
    }
  }
  .menu {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  .legal {
    background-color: $black;
    font-size: 0.9em;
  }
}
