// Home CSS
#home {
  #events-block {
    .link-wrapper {
      height: 28px;
    }
    .slick-slide {
      margin: 0 6px;
    }
    .slick-dots {
      bottom: -45px;
    }
  }
  #featured-block {
    .slick-list {
      padding: 32px 50px !important;
      @media (max-width: $break-mid) {
        padding: 0 10px !important;
      }
      .slick-slide {
        margin: 0 6px;
        position: relative;
        transition: all 0.3s ease;
        &.slick-center {
          @include transform(scale(1.2));
          z-index: 100;
          @media (max-width: $break-mid) {
            @include transform(none);
          }
          .card {
            opacity: 1;
          }
        }
        .card {
          height: 300px;
          width: 680px !important;
          transition: all 0.3s ease;
          opacity: 0.3;
          @media (max-width: $break-mobile) {
            opacity: 1;
            width: 100% !important;
            height: auto !important;
            .row.no-gutters {
              margin: 0;
            }
          }
        }
      }
    }
  }
  #social-block {
    .grid-social {
      margin: 25px auto 3em;
    }
    .slick-dots {
      position: relative;
      bottom: -25px;
    }
    .slick-slide {
      margin: 0 5px;
    }
    .social-item {
      width: 354px;
      height: 434px;
      background-color: #fff;
      color: $dark;
      border: 1px solid $theme-color;
      .header {
        padding: 12px 15px;
        text-align: left;
        background-color: $theme-color3;
        height: 47px;
      }
      .slick-slide {
        margin: 0;
      }
      .grid-feed {
        height: 385px;
        .overlay-content {
          position: relative;
          padding: 0;
          height: 100%;
          overflow: hidden;
          a {
            color: $dark;
          }
          .profile {
            font-size: 13px;
            padding: 6px 15px;
            min-height: 50px;
            margin: 0;
            width: 100%;
            background-color: $theme-color;
            .profile-image {
              display: inline-block;
              margin-right: 10px;
              max-width: 38px;
              vertical-align: top;
            }
            .date {
              font-size: 12px;
            }
            .user {
              display: inline-block;
              font-size: 20px;
            }
          }
          .set {
            height: 158px;
            overflow: hidden;
            &.empty {
              height: 0;
            }
          }
          .content {
            padding: 15px;
            height: 151px;
          }
          .likes {
            position: absolute;
            bottom: 0;
            padding: 10px 15px;
            left: 0;
            width: 100%;
            font-size: 14px;
            background: $theme-color;
            span {
              font-size: 13px;
              font-weight: 600;
              margin: 0 8px 0 4px;
            }
          }
        }
      }
    }
  }
}
