// Locations
#locations {
  #findus-block {
    background-color: $green;
    .container {
      @media (max-width: $mobile) {
        max-width: 100%;
      }
      .map-wrapper {
        position: relative;
        .map-col {
          #main-map {
            border: 2px solid $yellow;
          }
        }
        .hours-col {
          background-color: $black;
          h3 {
            padding: 10px 1em 9px;
            background-color: $dark-red;
          }
          .hours-wrapper {
            padding: 1em 1.2em 1.5em;
          }
          .directions a {
            margin: 5px;
            color: $dark-red;
            border: 0 solid $white;
            background-color: $white;
            transition: all 0.4s ease;
            &:hover {
              background-color: $dark-red;
              color: $white;
            }
          }
        }
      }
    }
  }
  #calendar-block {
    background-color: $yellow;
  }
  #venue-block {
    background-color: $black;
    .card {
      background-color: $yellow;
      border: 0 solid rgba(30, 21, 32, 0.125);
      border-radius: 0;
      margin-bottom: 2px;
      .card-body {
        background-color: $dark-red;
        color: $white;
      }
      .card-header {
        h5 {
          cursor: pointer;
        }
      }
    }
  }
}
