// Locations
#locations {
  #findus-block {
    .container {
      @media (max-width: $break-mobile) {
        max-width: 100%;
      }
      .map-wrapper {
        position: relative;
        .overlay {
          position: absolute;
          bottom: 70px;
          z-index: 1;
          padding: 2em;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
  #venue-block {
    .card-header {
      h5 {
        cursor: pointer;
      }
    }
  }
}
