// Login

body.login {
  background: #c7c7c7 url($adminLoginBkg) repeat center / cover;

  h1 {
    margin-top: 25%;

    a {
      width: 140px;
      height: 160px;
      background-size: 140px;
      background-image: url($adminLogo) !important;
    }
  }

  a {
    color: $loginFontColor;
    text-decoration: none;

    &:hover {
      color: $highlight;
    }
  }

  #login_error,
  .message,
  .success {
    border-left: 4px solid $highlight;
    background-color: $errorBox;

    a {
      color: $highlight;
    }
  }

  form {
    box-shadow: none;
    border: 0;
    background: transparent;
  }

  #login {
    padding: 0;
    box-shadow: -1px 0 3px rgba(0, 0, 0, 0.13);
    float: right;
    height: 100vh;
    background-color: $loginBkg;
    color: $loginFontColor;
  }

  #backtoblog {
    display: none !important;
  }

  #nav a {
    color: $loginFontColor;

    &:hover {
      color: $highlight;
    }
  }
}