body.is-mac {
  #featured-block .slick-list .slick-slide .card .card-heading {
    padding: 7px 1.25rem 4px;
  }
  .calender-wrapper .calender .grid .grid-time .date,
  .calender-wrapper .calender .grid .grid-time .day {
    padding: 8px 8px 5px;
  }
  #about #packages-block .item .package-block h2 {
    padding: 7px 10px 5px;
  }
  #attractions .slick-days .item-days .day-header {
    padding: 7px 0 5px;
  }
  #attractions #filters .filter-bar .nav-item .nav-link {
    padding: 14px 15px 10px;
  }
  #food-drink #events-block .event .event-header .top {
    padding: 8px 1.25rem 4px;
  }
  #locations #findus-block .container .map-wrapper .hours-col h3 {
    padding: 12px 1em 9px;
  }
  .card-header {
    padding: 1rem 1.25rem 0.75rem;
  }
}
