// Theme
body {
  -webkit-font-smoothing: antialiased;
  color: $black;
  font-size: 16px;
  padding-top: 4.5rem;
  @media (min-width: 1200px) {
    .container {
      max-width: 1300px;
    }
  }
  @media (min-width: 768px) and (max-width: $laptop) {
    font-size: 15px;
    .container {
      max-width: 100%;
    }
  }
  @media (max-width: $mobile) {
    font-size: 14px;
  }
}
hr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
h1.headline {
  font-size: 5rem;
  line-height: 1em;
  &.no-content {
    line-height: 2.4em;
  }
  @media (max-width: $tablet) {
    font-size: 4rem;
  }
  @media (max-width: $mobile) {
    font-size: 3rem;
  }
  @media (max-width: $phone) {
    font-size: 2.6rem;
  }
}
h2.headline {
  font-size: 5rem;
  line-height: 1em;
  @media (max-width: $tablet) {
    font-size: 4rem;
  }
  @media (max-width: $mobile) {
    font-size: 3rem;
  }
  @media (max-width: $phone) {
    font-size: 2.4rem;
  }
}
h3.headline {
  font-size: 3.5rem;
  line-height: 1em;
  @media (max-width: $tablet) {
    font-size: 3rem;
  }
  @media (max-width: $mobile) {
    font-size: 2.5rem;
  }
  @media (max-width: $phone) {
    font-size: 2rem;
  }
}
.headline {
  text-transform: uppercase;
  font-family: "Franchise Bold", "Roboto", sans-serif;
}
a {
  color: $dark;
  transition: all 0.5s ease;
  &:hover {
    color: $hover;
    text-decoration: none;
  }
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.lubalin {
  font-family: "Lubalin Graph Demi", "Roboto", sans-serif;
  letter-spacing: 0.8px;
}
.lubalinB {
  font-family: "LubalinGraphStd-Bold", "Roboto", sans-serif;
  letter-spacing: 0.8px;
  line-height: 1;
}
.franchise {
  font-family: "Franchise Bold", "Roboto", sans-serif;
  line-height: 1em;
}
.red {
  color: $dark-red;
}
.green {
  color: $green;
}
.black {
  color: $black;
}
.yellow {
  color: $yellow;
}
.white {
  color: $white;
}
.offwhite {
  color: $offwhite;
}
#hero-block {
  .carousel-control-next,
  .carousel-control-prev {
    z-index: 99;
  }
  .carousel-inner {
    .video-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      iframe {
        width: 100vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 100vh;
        min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
    @media (max-width: $phone) {
      .btn {
        float: none !important;
      }
    }
  }
}
.mb-5 {
  margin-bottom: 5em;
}
.mt-5 {
  margin-top: 5em;
}
.mt-md-5 {
  @media (max-width: $mobile) {
    //margin-top: 5em;
  }
}
.mb-6 {
  margin-bottom: 6em;
}
.mt-6 {
  margin-top: 6em;
}
.entry-content a {
  color: $dark-red;
}
.entry-wrapper-padding {
  padding: 4em 0;
  @media (max-width: $mobile) {
    padding: 3em 0;
  }
  @media (max-width: $phone) {
    padding: 2em 0;
  }
}
.t-shadow {
  text-shadow: 0 0 3px #000;
}
.box-shadow {
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.lazy-hidden {
  opacity: 0;
}
.lazy-loaded {
  transition: opacity 0.3s;
  opacity: 1;
}
.scroll {
  overflow-y: scroll !important;
}
.scroll-hidden {
  overflow: hidden !important;
}
*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.inview {
  animation-duration: 1s;
  animation-delay: 0.2s;
  opacity: 0;
}
.delay-1 {
  animation-delay: 0.8s;
}
.delay-2 {
  animation-delay: 1s;
}
.delay-3 {
  animation-delay: 1.2s;
}
.delay-4 {
  animation-delay: 1.4s;
}
.cta-btn {
  position: relative;
  display: table;
  vertical-align: top;
  p {
    display: none !important;
  }
  .btn-twobit {
    position: relative;
    z-index: 1;
    transition: all 0.4s ease;
    border-radius: 0;
    padding: 2px 2.2rem;
    background-color: $dark-red;
    border: 3px solid $dark-red;
    color: $white !important;
    text-transform: uppercase;
    font-size: 1.8em;
    line-height: 1;
    -webkit-font-smoothing: subpixel-antialiased;
    @include backface-visibility(hidden);
    @include transform(translate(0, 0));
    font-family: "Franchise Bold", "Roboto", sans-serif;
    &.btn-green {
      background-color: $dark-green;
      border: 3px solid $dark-green;
    }
    &.btn-black {
      background-color: $black;
      border: 3px solid $black;
    }
    &.btn-white {
      background-color: $white;
      border: 3px solid $white;
      color: $black !important;
    }
    &.btn-disabled {
      background-color: #adadad;
      border: 3px solid #adadad;
      color: #757575 !important;
      &:hover {
        @include transform(none !important);
      }
    }
    &.btn-sm {
      font-size: 22px;
    }
    &:hover {
      @include transform(translate(-4px, -4px));
    }
  }
  .btn-behind {
    position: absolute;
    z-index: 0;
    left: 4px;
    bottom: -4px;
    padding: 2px 3rem;
    background-color: $yellow;
    border: 3px solid $yellow;
    color: $yellow;
    text-transform: uppercase;
    font-size: 1.8em;
    line-height: 1;
    width: 100%;
    &.sm {
      font-size: 22px;
      bottom: -3px;
      left: 3px;
    }
  }
  .btn-green + .btn-behind {
    background-color: $green !important;
    border: 3px solid $green !important;
  }
  .btn-black + .btn-behind {
    background-color: $white !important;
    border: 3px solid $white !important;
  }
  .btn-disabled + .btn-behind {
    background-color: $black !important;
    border: 3px solid $black !important;
  }
  .ajax-loader {
    display: none !important;
  }
}
.container-spacing {
  padding-top: 4em;
  padding-bottom: 4em;
}
.slick-track,
.slick-slide,
.slick-slide img {
  transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-slider {
  .slick-prev,
  .slick-next {
    height: auto;
    width: auto;
    z-index: 1;
    opacity: 0.3;
    transition: all 0.8s ease;
    margin-top: -32px;
    &:before {
      font-size: 4rem;
      color: $white;
      font-family: "FontAwesome";
      cursor: pointer;
      position: absolute;
      transition: all 0.5s ease-in-out;
    }
  }
  .slick-prev {
    left: 5px;
    &:before {
      content: "\F104";
    }
  }
  .slick-next {
    right: 27px;
    &:before {
      content: "\F105";
    }
  }
  .slick-dots li.slick-active button:before {
    color: $black;
  }
  .slick-dots li button:before {
    font-size: 15px;
    color: $black;
  }
}
form {
  label {
    color: #a1a1a1;
  }
  .form-control {
    border: 1px solid #c4c4c4;
    color: #a0a0a0;
    background-color: $white;
    border-radius: 0 !important;
    font-size: 0.9rem;
  }
  .custom-file-label {
    border-radius: 0 !important;
    border: 1px solid #c4c4c4;
  }
}
main {
  margin: 0;
  min-height: 700px;
}
.w-65 {
  width: 65%;
}
.w-50,
.w-65,
.w-75 {
  @media (max-width: $tablet) {
    width: 80% !important;
  }
  @media (max-width: $mobile) {
    width: 90% !important;
  }
  @media (max-width: $phone) {
    width: 100% !important;
  }
}
article.page.type-page {
  position: relative;
  min-height: 700px;
  opacity: 0;
  transition: opacity 0.4s ease;
  &.start {
    opacity: 1;
  }
}
.accordion-wrapper {
  i.fa-angle-down:before {
    position: absolute;
    top: 11px;
    font-size: 1.4em;
    right: 10px;
    transition: all 0.5s ease-in-out;
  }
  h5:not(.collapsed) {
    i.fa-angle-down:before {
      @include transform(rotate(180deg));
    }
  }
}
.offset-left-md-6 {
  margin-right: 50%;
}
.addthis_toolbox {
  font-size: 1.4em;
  a {
    color: $white;
    padding: 0 4px;
    margin: 0 1px;
    &:hover {
      color: $yellow;
    }
  }
}
.bkg-img {
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bkg-white {
  background-image: url("/wp-content/themes/twobitcircus/img/home/white_pattern.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}
.bkg-green {
  background-image: url("/wp-content/themes/twobitcircus/img/home/green_pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}
.bkg-red {
  background-image: url("/wp-content/themes/twobitcircus/img/home/red_pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}
.carousel {
  .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 8px;
  }
  .carousel-control-prev-icon {
    width: 70px;
    height: 100px;
    background-image: url(/wp-content/themes/twobitcircus/img/home/arrow_yellow_btn.png);
    background-size: 50%;
    background-position: center;
  }
  .carousel-control-next-icon {
    width: 70px;
    height: 100px;
    @include transform(scaleX(-1));
    background-image: url(/wp-content/themes/twobitcircus/img/home/arrow_yellow_btn.png);
    background-size: 50%;
    background-position: center;
  }
  .carousel-item {
    height: calc(90vh - 99px);
    min-height: 720px;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: $phone) {
      min-height: 610px;
    }
    &.darken:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $black;
    }
    &.darken-20:before {
      opacity: 0.2;
    }
    &.darken-40:before {
      opacity: 0.4;
    }
    &.darken-60:before {
      opacity: 0.6;
    }
    &.darken-80:before {
      opacity: 0.8;
    }
    .carousel-caption {
      &.red-bkg {
        background-image: url("/wp-content/themes/twobitcircus/img/home/hero_bar_red.png");
      }
      &.yellow-bkg {
        background-image: url("/wp-content/themes/twobitcircus/img/home/hero_bar.png");
      }
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      &.top {
        top: 20vh;
        bottom: inherit;
      }
      &.bottom {
        top: inherit;
        bottom: 0;
      }
      left: 0;
      right: 0;
      margin: auto;
      .headline {
        margin-top: 35px;
        @media (max-width: $phone) {
          margin-top: 15px;
        }
      }
    }
  }
}
.accordion-icon {
  position: relative;
  top: 12px;
  .horizontal {
    position: absolute;
    background-color: $black;
    width: 18px;
    height: 2px;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -2.5px;
  }
  .vertical {
    position: absolute;
    background-color: $black;
    width: 2px;
    height: 18px;
    left: 50%;
    margin-left: -2.5px;
    top: 50%;
    margin-top: -11px;
  }
}
.grid-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1910px;
  margin: auto;
  @media (max-width: 1956px) {
    max-width: 1528px;
  }
  @media (max-width: 1575px) {
    max-width: 1147px;
  }
  @media (max-width: 1193px) {
    max-width: 1056px;
  }
  @media (max-width: 1132px) {
    max-width: 704px;
  }
  .grid-item {
    width: 380px;
    max-width: 380px;
    @media (max-width: 1193px) {
      max-width: 350px;
    }
    @media (max-width: 750px) {
      max-width: 100%;
    }
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 1px;
    border-radius: 0;
    border: 0;
    background-color: transparent;
    .card-image {
      display: block;
      position: relative;
      overflow: hidden;
      img {
        @include transform(scale(1.01));
        transition: all 1s ease-in-out;
        @include backface-visibility(hidden);
      }
    }
    &:hover {
      .card-image img {
        @include transform(scale(1.03));
      }
    }
    .card-title {
      padding: 12px 1.25rem;
      background-color: $red;
      height: 60px;
      position: relative;
      color: $white;
      h5 {
        margin: 0;
        line-height: 1;
        font-size: 18px;
        text-align: left;
        width: 95%;
        cursor: pointer;
        text-transform: uppercase;
        span {
          font-size: 14px;
        }
      }
      i.fa-angle-down:before {
        cursor: pointer;
        font-size: 1.8em;
        color: $yellow;
        position: absolute;
        top: 23px;
        right: 10px;
        transition: all 0.5s ease-in-out;
      }
      &.collapsed {
        i.fa-angle-down:before {
          @include transform(rotate(180deg));
        }
      }
    }
    .card-body {
      -ms-flex: none;
      flex: none;
      padding: 0 1.25rem 1.25em;
      background-color: $red;
      color: $white;
    }
  }
}
.grid-isotope {
  text-align: center;
  margin: 0 auto;
  .grid {
    margin: 0 auto;
  }
  .grid-item {
    width: 349px;
    float: left;
    margin: 1px;
    border-radius: 0;
    border: 0;
    @media (max-width: $phone) {
      width: 100%;
    }
    .card-img-top {
      border: 0;
      border-radius: 0;
    }
    .card-title {
      padding: 12px 15px;
      background-color: $red;
      height: 60px;
      position: relative;
      color: $white;
      h5 {
        margin: 0;
        line-height: 1;
        font-size: 18px;
        text-align: left;
        width: 95%;
        cursor: pointer;
        text-transform: uppercase;
        span {
          font-size: 14px;
        }
      }
      i.fa-angle-down:before {
        cursor: pointer;
        font-size: 1.8em;
        color: $yellow;
        position: absolute;
        top: 23px;
        right: 10px;
        transition: all 0.5s ease-in-out;
      }
      &.collapsed {
        i.fa-angle-down:before {
          @include transform(rotate(180deg));
        }
      }
    }
    .card-body {
      padding: 0 1.25rem 1.25em;
      background-color: $red;
      color: $white;
    }
  }
  &.media-grid {
    max-width: 1655px;
    @media (max-width: 1574px) {
      max-width: 1146px;
    }
    @media (max-width: $laptop) {
      max-width: 1026px;
    }
    @media (max-width: 1072px) {
      max-width: 644px;
    }
    @media (max-width: 690px) {
      max-width: 100%;
    }
    .grid-item {
      width: 400px;
      @media (max-width: 1654px) {
        width: 380px;
      }
      @media (max-width: $laptop) {
        width: 340px;
      }
      @media (max-width: 1072px) {
        width: 320px;
      }
      @media (max-width: 690px) {
        width: 100%;
      }
    }
  }
}
.slick-dots {
  bottom: -40px;
}

.wrapper-section {
  position: relative;
  width: 100%;
  &.parallax-container {
    min-height: 25vh;
    z-index: 0;
    overflow: hidden;
    .parallax {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      transition: all 1s ease-in-out;
      img {
        position: absolute;
        left: 50%;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
    &.hover:hover {
      .parallax {
        @include transform(scale3d(1.05, 1.05, 1.05));
      }
    }
  }
  &.footer {
    .container {
      position: relative;
      .footer-cell {
        margin: 4em 0;
      }
      h2 {
        color: $white;
      }
      .copy {
        color: $white;
        @media (max-width: $mobile) {
          width: 100% !important;
        }
      }
    }
  }
  &.darken:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.main-headline {
  background-color: $black;
  .header-bkg-left {
    background-image: url("/wp-content/themes/twobitcircus/img/header_main.png");
    @media (max-width: $mobile) {
      background-image: url("/wp-content/themes/twobitcircus/img/home/yellow_pattern.png");
    }
    &.red-bk {
      background-image: url("/wp-content/themes/twobitcircus/img/header_main_red.png");
      @media (max-width: $mobile) {
        background-image: url("/wp-content/themes/twobitcircus/img/home/red_pattern.png");
      }
      h1 {
        color: $white;
      }
      .content {
        color: $white;
      }
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    max-width: 620px;
    min-height: 224px;
    min-width: 500px;
    padding-right: 4%;
    position: relative;
    @media (max-width: $tablet) {
      max-width: 510px;
      padding-right: 7%;
      min-width: auto;
    }
    @media (max-width: $mobile) {
      height: 100%;
      max-width: 100%;
      width: 100%;
      min-height: auto;
      background-position: center;
      background-size: cover;
      padding: 1.4em 15px !important;
      p {
        margin: 0;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: -4px;
        height: 2px;
        width: 100%;
        z-index: 1;
        border-top: 2px solid $red;
      }
    }
  }
  &.header-bkg-right {
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1.headline {
    padding: 0 10% 0 12%;
  }
  .content {
    padding: 0 6% 0 7%;
    @media (max-width: $laptop) {
      padding: 0 8% 0 9%;
    }
    @media (max-width: $tablet) {
      padding: 0 10% 0 11%;
    }
  }
}
.sub-headline {
  padding: 4em 15px;
  background-color: $dark-red;
}
.directions {
  a {
    text-align: center;
    display: inline-block;
    color: #373737;
    margin: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 51px;
    border: 2px solid #373737;
    transition: all 0.4s 0s !important;
    svg {
      width: 1.5em;
      overflow: visible;
      display: inline-block;
      font-size: inherit;
      height: 1.5em;
      overflow: visible;
      vertical-align: -0.125em;
    }
  }
}
.form-white {
  .form-control {
    border: 0;
    background-color: #fff;
    width: 100%;
    height: auto;
    font-size: 1.1em;
    padding: 4px 15px 5px;
    color: $black;
    text-transform: uppercase;
  }
}
.form-red {
  ::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  ::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .form-control {
    border: 0;
    background-color: $red;
    width: 100%;
    height: auto;
    font-size: 1.1em;
    padding: 4px 15px 5px;
    color: $white;
  }
}
div.wpcf7-mail-sent-ok {
  margin: 2em 0 1em;
  border: 2px solid $dark-green;
  background-color: $green;
}
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  margin: 2em 0 1em;
  border: 1px solid $yellow;
  background-color: $yellow;
}
#newsletter-block {
  background-color: $black;
  h3 {
    color: $green;
    font-size: 4em;
    line-height: 0.9em;
    @media (max-width: $mobile) {
      font-size: 3em;
      text-align: left !important;
    }
  }
  span.wpcf7-not-valid-tip {
    display: none !important;
  }
  .btn-behind {
    background-color: $green !important;
    border: 3px solid $green !important;
  }
  .form-control {
    margin-top: 5px;
    font-size: 2em;
    padding: 5px 15px 6px;
  }
  .cta-btn {
    .btn {
      margin-top: 11px;
      padding: 2px 3em;
    }
    @media (max-width: $mobile) {
      display: block;
      .btn {
        width: 100%;
      }
    }
  }
}
#custom-modal .modal-content {
  background-color: $black;
  .modal-header {
    padding: 5px 1rem 0;
    border-bottom: 0px solid $black;
    .close {
      color: $white;
      font-size: 1.8em;
    }
  }
  .modal-body {
    padding-top: 0.5em;
  }
}
#return-to-top {
  position: fixed;
  z-index: 99;
  bottom: 140px;
  right: 20px;
  background: rgba(255, 255, 255, 0.8);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid $black;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  @media (max-width: $mobile) {
    display: none;
  }
  i {
    color: $black;
    margin: 0;
    position: relative;
    left: 13px;
    top: 11px;
    font-size: 21px;
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    border: 2px solid $red;
    i {
      color: $red;
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
@include keyframes(fadeinout) {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@include keyframes(matrix) {
  0% {
    @include transform(matrix(1, 0, 0, 1, 0, 0));
  }
  100% {
    @include transform(matrix(1, 0, 0, 1, -2880, 0));
  }
}
@include keyframes(bounce) {
  0% {
    opacity: 0;
    @include transform(translateY(0));
  }
  50% {
    opacity: 1;
    @include transform(translateY(30px));
  }
  100% {
    opacity: 0;
    @include transform(translateY(0));
  }
}
// Keyframes CSS
@include keyframes(logo-sprite-animate) {
  from {
    background-position: 0 0;
  }
  to {
    background-position: $logo-sprite 0;
  }
}
