// News
#news {
  background-color: $green;
  .container-fluid {
    @media (max-width: $laptop) {
      max-width: inherit;
    }
    .grid-isotope {
      .grid-item {
        .card-title {
          background-color: $yellow;
          a {
            color: $black;
            &:hover {
              color: $dark-red;
            }
          }
        }
        .card-body {
          background-color: $yellow;
          color: $black;
        }
      }
    }
  }
}
